SERVER_PORT=8080

# SPRING_DATASOURCE_URL=jdbc:postgresql://host.docker.internal:5432/bike_calculator

DATABASE_USERNAME=bikecalc
DATABASE_PASSWORD=password
DATABASE_URL=localhost:5432/bike_calculator
DATABASE_CONNECTION_STRING=postgresql://${DATABASE_USERNAME}:${DATABASE_PASSWORD}@${DATABASE_URL}

GOOGLE_MAPS_KEY=?
STRAVA_CLIENT_ID=?
STRAVA_SECRET=?

FRONTEND_URL=http://localhost:3000
FRONTEND_SECURE=false