SERVER_PORT=8080

DATABASE_CONNECTION_STRING=postgresql://<database_username>:<database_password>@<database_url>

GOOGLE_MAPS_KEY=?
STRAVA_CLIENT_ID=?
STRAVA_SECRET=?

FRONTEND_URL=http://localhost:3000
FRONTEND_SECURE=false