spring.application.name=bike_calculator

# Use this on host
spring.datasource.url=jdbc:postgresql://localhost:5432/bike_calculator
# Use this if running in docker with database on host
spring.datasource.url=jdbc:postgresql://host.docker.internal:5432/bike_calculator

spring.datasource.username=bikecalc
spring.datasource.password=password
spring.jpa.hibernate.ddl-auto=update

server.port=8080

google.maps.key=?
